// Colors
$color-primary: linear-gradient(rgb(255, 163, 153) to rgb(255, 77, 151));

$color-neutral-1: rgb(221, 219, 255);
$color-neutral-2: rgb(132, 135, 148);
$color-neutral-3: rgb(29, 44, 103);
$color-neutral-4: rgb(12, 18, 44);

$color-white: rgb(236, 236, 236);
$color-black: rgb(31, 31, 31);