*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

    @media only screen and (max-width: 364px) {
        font-size: 60%;
    }
}

body {
    background-image: url(../images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    color: $color-white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    left: 50%;
    position: absolute;
    row-gap: 2rem;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}