*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;

    @media only screen and (max-width: 364px) {
        font-size: 60%;
    }
    @media only screen and (max-width: 314px) {
        font-size: 52%;
    }

    @media only screen and (min-height: 1000px) and (orientation: portrait) {
        font-size: 80%;
    }
    @media only screen and (min-height: 1300px) and (orientation: portrait) {
        font-size: 100%;
    }
}

body {
    background-image: url(../images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    color: $color-white;

    @media only screen and (min-width: 1000px) and (orientation: landscape) {
        background: url(../images/bg-desktop.png), $color-neutral-4;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }

    @media only screen and (orientation: landscape) and (max-width: 1000px) {
        padding-bottom: 12%;
        padding-top: 5%;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    left: 50%;
    max-width: 35rem;
    position: absolute;
    row-gap: 2rem;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    @media only screen and (min-width: 1000px) and (orientation: landscape) {
        column-gap: 2.5rem;
        grid-template-columns: 40% 60%;
        max-width: none;
        row-gap: 0;
        width: 70%;
    }
    @media only screen and (min-width: 1400px) and (orientation: landscape) {
        width: 65%;
    }

    @media only screen and (orientation: landscape) and (max-width: 999px) {
        left: 0;
        margin: 0 auto;
        position: initial;
        top: 0;
        transform: none;
    }
}