*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

@media only screen and (max-width: 364px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 314px) {
  html {
    font-size: 52%;
  }
}

body {
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f8f8f8;
}

@media only screen and (min-width: 1000px) {
  body {
    background: url(../images/bg-desktop.png), #0c122c;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  body {
    padding-bottom: 12%;
    padding-top: 5%;
  }
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  left: 50%;
  max-width: 35rem;
  position: absolute;
  row-gap: 2rem;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
}

@media only screen and (min-width: 1000px) {
  main {
    -webkit-column-gap: 2.5rem;
            column-gap: 2.5rem;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    max-width: none;
    row-gap: 0;
    width: 80%;
  }
}

@media only screen and (orientation: landscape) and (max-width: 999px) {
  main {
    left: 0;
    margin: 0 auto;
    position: initial;
    top: 0;
    -webkit-transform: none;
            transform: none;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
}

.heading-secondary {
  font-size: 4.5rem;
}

@media only screen and (max-width: 364px) {
  .heading-secondary {
    font-size: 4rem;
  }
}

.heading-secondary span {
  font-size: 1.5rem;
}

@media only screen and (max-width: 364px) {
  .heading-secondary span {
    font-size: 1.4rem;
  }
}

.cta, .infographic {
  background-color: #1d2c67;
  border-radius: 1.5rem;
}

.cta {
  border-top-right-radius: 9rem;
  height: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 12%;
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .cta {
    height: 21rem;
  }
}

.cta__logo {
  width: 52%;
}

.cta-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 64%;
}

@media only screen and (max-width: 330px) {
  .cta-boxes {
    width: 70%;
  }
}

.cta-icon-box {
  background-color: #0c122c;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.3rem 0;
}

.cta-icon-box__icon {
  color: #dddbff;
  font-size: 2.5rem;
}

.infographic {
  padding: 12% 10%;
  padding-bottom: 18%;
  position: relative;
}

@media only screen and (min-width: 1000px) {
  .infographic {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    height: 17rem;
    padding: 8% 10%;
  }
}

.infographic-status {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "heading heading" "bar bar" "beginning end";
}

.infographic-status .txt {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: heading;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 1000px) {
  .infographic-status .txt {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.infographic-status-bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(12, 18, 44, 0.7);
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bar;
  height: 2.2rem;
  padding-left: 1%;
  width: 100%;
}

@media only screen and (max-width: 364px) {
  .infographic-status-bar {
    height: 1.8rem;
    padding-left: 1.5%;
  }
}

.infographic-status-bar__indicator {
  background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 3rem;
  height: 70%;
  padding-right: .3rem;
  position: relative;
  width: 72%;
}

.infographic-status-bar__endpin {
  background-color: #f8f8f8;
  border-radius: 50%;
  height: 72%;
  position: absolute;
  right: 2%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 6%;
}

@media only screen and (max-width: 364px) {
  .infographic-status-bar__endpin {
    right: 1%;
    width: 5%;
  }
}

@media only screen and (min-width: 1000px) {
  .infographic-status-bar__endpin {
    right: 1%;
    width: 4%;
  }
}

.infographic-status__amount {
  font-size: 1.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 330px) {
  .infographic-status__amount {
    font-size: 1.3rem;
  }
}

.infographic-status__amount:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: beginning;
  padding-top: 1.2rem;
}

.infographic-status__amount:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: end;
  -ms-grid-column-align: end;
      justify-self: end;
  padding-top: 1.2rem;
}

.infographic-space {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
  border-radius: 1.5rem;
  bottom: -21%;
  color: #0c122c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  padding: 1.5rem;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 55%;
  min-height: 5rem;
}

@media only screen and (max-width: 330px) {
  .infographic-space {
    padding: 1.2rem;
  }
}

.infographic-space h2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infographic-space h2 span {
  color: #848794;
  display: inline-block;
  letter-spacing: 0.08rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
